
/* Typography */
h1, h2{	font-family: 'Quantico', sans-serif; }
h4{	font-family: 'Quantico', sans-serif; font-size: 1.5em; }
p {font-family: 'Nunito', sans-serif;}

.slant-bottom{
	z-index: 10;
	height: 70px;
}

/* ========================= */
/*		LANDING PAGE
/* ========================= */
/* Welcome */
.cd-hero-slider li:first-of-type {
  background-color: #2c343b;
}

/* Community */
.cd-hero-slider li:nth-of-type(2) {
  background-color: #586775;
  background-image: url("../assets/slideshow/fortcollins.jpg");
}

/* Partners */
.cd-hero-slider li:nth-of-type(3) {
  background-color: #3d4952;
  background-image: url("../assets/slideshow/shakehands.png");
}
.cd-hero-slider li:nth-of-type(3) p, .cd-hero-slider li:nth-of-type(3) h2  {
	color: #000 !important;
}







/* ------------------- SECTION EVENTS*/

.events-overlay{
background-color: #ccc;
}


/*Nav Title*/
nav .nav-title{
	font-size: 30px;
	text-align: center;
}


/*-------------------*/
.mission-overlay{
	background-color: rgba(0,0,0,0.7);
	height: 100vh;
	width: 100vw;	
}
section.module.parallax-1 {
  background-image: url("../assets/slideshow/image-c.jpg");
}



/*-------------------*/
.help-overlay{
	background-color: rgba(0,0,0,0.7);
	height: 100vh;
	width: 100vw;	
}
section.module.parallax-2 {
  background-image: url("../assets/slideshow/image-c.jpg");
}


/* ------------------- SECTION PARTNERS*/
.partners-overlay{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#685172+0,685172+0,685172+42,ffffff+44,ffffff+100&0+0,0+42,1+44,0.7+100 */
background: -moz-linear-gradient(-40deg,  rgba(104,81,114,0) 0%, rgba(104,81,114,0) 47%, rgba(255,255,255,1) 49%, rgba(255,255,255,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-40deg,  rgba(104,81,114,0) 0%,rgba(104,81,114,0) 47%,rgba(255,255,255,1) 49%,rgba(255,255,255,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(100deg,  rgba(104,81,114,0) 0%,rgba(104,81,114,0) 47%,rgba(255,255,255,1) 49%,rgba(255,255,255,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00685172', endColorstr='#b3ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	height: 100vh;
	width: 100vw;	
}
section.module.parallax-3 {
  background-image: url("../assets/slideshow/image-b.jpg");
}


.section-partners{
	background-color: orange;
}







