
html, body{
	padding:0;
	margin:0;
}
/*------------------------------------------------------*/
/* Typography - OVERRIDE*/
/*------------------------------------------------------*/
h1,h2,h3,h4,h5,h6,h7{
	font-family: 'Quantico', sans-serif;
}

p,i,quote,a{
	font-family: 'Nunito', sans-serif;
}
h1{
	/*font-family: 'Nunito', sans-serif;*/
	font-family: 'Quantico', sans-serif;
}

h4{
	font-size: 1.5em;
}

a {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

.inset-against-light{
	display: inline-block;
	background-color: #444;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 2px;
}
.inset-against-dark{
	color: rgba(30,30,30,0.6);
    text-shadow: 0px 2px 3px rgba(255,255,255,0.2);
}



/*------------------------------------------------------*/
/* MEDIA */
/*------------------------------------------------------*/
img {
	width: 100%;
	height: 100%;
}

.demo-layout-transparent {
  background: url('../assets/slideshow/image-a.jpg') center / cover;
}

/*------------------------------------------------------*/
/* HEADER */
/*------------------------------------------------------*/
header{
	width: 100%;
	height: 50px;
}


/* ------------------- SECTION LANDING*/
.section-one{  }



/* ------------------- SECTION EVENTS*/

.events-background{
	background-color: #fff;
}



/* ------------------- SECTION MISSION*/
.mission-background{
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%), url('../assets/slideshow/image-b.jpg') center / cover;
  	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%), url('../assets/slideshow/image-b.jpg') center / cover;
  	background: linear-gradient(135deg, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 40%,rgba(255,255,255,0) 100%), url('../assets/slideshow/image-b.jpg') center / cover;
}




/* ------------------- SECTION SKILLS*/
.section-skills{
	background-color: orange;
}

/* ------------------- SECTION PARTNERS*/
.section-partners{
	background-color: white;
}








