
/*
	zcss-core.css
*/

/* COLORS:
	 Main: 
	 	#685172 
	 	rgba(104,81,114,1);
	 Offset for borders:
	 	#53425b
	 	rgba(83,66,91,1);

	 Card Header: 
	 	#188777 
	 	rgba(24,135,119,1);

*/





html, body{
	padding:0;
	margin:0;
}


/*------------------------------------------------------*/
/* Typography */
/*------------------------------------------------------*/
h1,h2,h3,h4,h5,h6,h7{
	font-family: "Lucida Console", Monaco, monospace;
}

p,i,quote,a{
	font-family: "Courier New", Courier, monospace;
}


a { text-decoration: none; }
a:active { text-decoration: none; }
a:hover { text-decoration: none; }

code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 1em;
	font-weight: bold;
	color: #000;
	background: #ccc;
}
code strong{
	color: red;
	font-weight: bolder;
}


/* ------------------------------------------------ */
/*		Structure Basics							*/
/* ------------------------------------------------ */

/* -- Column Row (aka Clearfix) -- */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}



/* ------------------------------------------------ */
/*		RESPONSIVE									*/
/* ------------------------------------------------ */
.container { display: block; width: 100%;  margin: auto; }


/* -------- COLUMN LAYOUTS -------*/
/* -- Column Sizes -- */
.one-eighth { width: 10.125%; }
.one-fourth   { width:21.25%;}
.one-third    { width:29.333%; }
.one-half     { width:45.5%; }
.two-third    { width:61.666%; }
.three-fourth { width:69.75%;}
.three-fourth { width:79.75%;}
.full-page-pad,.full-column-pad   { width:94%; }
.full-page,.full-column  { width:100%; }
 
/* -- Column Margin & Float-- */
.one-half,.one-third,.two-third,
.three-fourth,.one-fourth,.one-column,
.full-page-pad,.full-page {
  margin-left:1%; 
  margin-top:1%;
  float:left;
}
 

/* ------------------------------------------------ */
/*		Fixed										*/
/* ------------------------------------------------ */
.fixed-container {
  width: 980px;
  margin: auto;
}

/* ----- =columns ----- */
.fixed-one-half { width: 460px; }
.fixed-one-third { width: 300px; }
.fixed-two-third { width: 620px; }
.fixed-one-fourth {	width: 220px; }
.fixed-three-fourth { width: 700px; }
.fixed-full-column { width: 940px; }

.fixed-one-half,
.fixed-one-third,
.fixed-two-third,
.fixed-one-fourth,
.fixed-three-fourth,
.fixed-full-column {
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}









/* ------------------------------------------------ */
/*		HEADER# VARIATIONS						*/
/* ------------------------------------------------ */
header{
	width: 100%;
	height: 70px;
	line-height: 70px;
	background-color: transparent;
	
}
.header-fixed{
	position: fixed;
	left:0;
	top:0;
	z-index: 200;
}


.header-transparent{
	background: transparent;
	height: 90px;
}
.header-transparent h1{
	color: #fff;
	line-height: 90px;
}









/* ------------------------------------------------ */
/*		NAVIGATION NAV#								*/
/* ------------------------------------------------ */
nav {
	width: 100%;
	height: 100%;
}
nav .logo{
	width: 64px;
	height: 64px;
}

nav .nav-title{
	display: inline-block;
	width: 50%;
	margin: 0;
	color: #fff;
	font-family: 'Quantico', sans-serif;
	font-size: 1.1em;
	line-height: 50px;
	vertical-align: middle;
	text-align: center;
}
nav .nav-title h1{ /*Override h1 so it centers vertically*/
	margin: 0;
	padding: 0;
}
nav .nav-links{
	display: inline-block;
	width: 50%;
	margin: 0;
	float: right;
}
nav a{
	display: inline-block;
	font-family: 'Nunito', sans-serif;
	font-size: 1em;
	line-height: 50px;
	vertical-align: middle;
	color: #fff;
	padding: 0 15px 0 0;
	transition: 0.5s;
}
nav a:hover {
	color: #ccc;
	text-shadow: 0.1px 0.1px 1px rgba(0,0,0,0.3);
}
/* Clean up nav links */
nav a, nav a:active, nav a:selected {
	text-decoration: none;
}












/*------------------------------------------------------*/
/*				SECTION#								*/
/*------------------------------------------------------*/
/* The full page sections set */
.section{
	height: 100vh;
	min-height: 100%;
	width: 100%;
	padding:0;
	margin:0;
	background-color: transparent;
}

.section-header-normal{
	background: #685172;
	height: 90px;
}

.section-header{
	background: transparent;
	height: 150px;
}
.section-header h1{
	color: #000;
	text-align: center;
	line-height: 70px;
	font-family: 'Quantico', sans-serif;
	font-size: 3em;
	padding-top: 5px;
	margin:0;
	padding:0;
}
.sh-yellow{
	background-color: yellow;
}

hr.icon{
	margin: 25px auto 30px;
	padding: 0;
	border: 0;
	width: 40%;
	border-top: solid 3px;
	text-align: center;
}
hr.icon:after{
	content: "\f0e7";
	display: inline-block;
	position: relative;
	top: -1.1rem;
	padding: 0 1rem;
	font-family: FontAwesome;
	font-size: 2rem;
	background-color: yellow;
}


/*------------------------------------------------------*/
/* DRAWER MENU */
/*------------------------------------------------------*/
#drawer-button{
	position: fixed;
	left: 20px;
	top: 17px;
	width: 30px;
	height: 10px;
	/*padding: 10px 35px 16px 0px;*/
	padding: 16px 5px 12px 0px;
	cursor: pointer;
	z-index: 1000;
	background-color: rgba(104,81,114,0.7);
	outline: 5px solid rgba(104,81,114,0.7);
}
#drawer-button span, #drawer-button span:before, #drawer-button span:after {
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background-color: #fff;
  position: absolute;
  display: block;
  content: '';
}
#drawer-button span:before {
  top: -10px; 
}
#drawer-button span:after {
  bottom: -10px;
}
#drawer-button span, #drawer-button span:before, #drawer-button span:after {
  transition: all 500ms ease-in-out;
}
#drawer-button.active span {
  background-color: transparent;
}
#drawer-button.active span:before, #drawer-button.active span:after {
  top: 0;
}
#drawer-button.active span:before {
  transform: rotate(45deg);
  background: #fff;
  z-index: 1000;
}
#drawer-button.active span:after {
  transform: rotate(-45deg);
  background: #fff;
  z-index: 1000;
}
#drawer{
	display: none;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	z-index: 80;
}
.drawer-side{
	float: left;
	width: 25%;
	height: 100vh;
	margin:0;
	padding: 5% 5px 1% 1%;
	background: rgba(255,255,255,0.95);
	overflow-y:auto;
}
.screen-side{
	float: left;
	width: 72%;
	height: 100vh;
	background: rgba(0,0,0,0.5);
	margin: 0;
	padding: 0;
}
#drawer a {
	font-family: 'Nunito', sans-serif;
	float: left;
	font-size: 1em;
	width: 100%;
	color: #999;
	padding: 0;
	margin: 7px;
	background-size: 150% 100%;
    background-image: linear-gradient(to right, transparent 75%, rgba(24,135,119,0.4) 100%);
	transition: 0.2s;
}
#drawer a:hover{
	color: #000;
	
}

#drawer h4{
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
	margin: 0;
	padding-top: 20px;
}
#drawer .social-container{
	padding: 0;
	margin: 0;
}
#drawer .social-container a{
	display: inline-block;
	width: auto;
}
.drawer-btn-space{
	padding-top: 30px;
}


/* ------------------------------------------------ */
/*		Social Mobile								*/
/* ------------------------------------------------ */
/*Uses Font-Awesome Icons, make sure to cdn or download*/
.social-mobile-icon{
	width: 70px;
	height: 70px;
	font-size: 50px;
	line-height: 70px;
	vertical-align: middle;
	text-align: center;
	background-color: #685172;
		
	border: 2px solid #53425b;
	color: #fff;
	margin-left: 1px;
	margin-top: 4px;
	cursor: pointer;
	transition: 0.2s;
}
.social-mobile-icon:hover{
	background-color:#53425b;
	box-shadow: 0.2px 0.2px 2px #000;
}


/*--------------------------*/
/*  CARDS */
/*--------------------------*/
.card-container{

}
.card{
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 20px;
	cursor: pointer;
}
.card-sml{
	width: 100%;
	height: 280px;
}
.card-big{
	width: 100%;
	height: 200px;
}
.card-link{
	text-decoration: none;
}

.card .header{
		position: absolute;
		top:0;
		left:0;
		width: 100%;
		margin: 0;
		padding: 0;
		background-color: rgba(0,0,0,0.5);
}
.card h4{
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 1.3em;
	padding: 0;

}
.card h4 title{
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 1.7em;
	font-weight: bolder;
	padding: 0;

}
.card p{
	font-family: 'Nunito', sans-serif;
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #777;
	font-size: 1em;
	padding: 0;

}
.card .date-time{
	width: 100%;
}
.card .date{
	display: block;
	width: 100%;
	font-size: 1.2em;
	color: #000;
	text-align: left;
	padding:0;
	margin:0;
}
.card .time{
	display: inline-block;
	padding: 0 4px 0 0;
	text-align: right;
	color: #777;
	margin: 0;
	font-size: 0.9em;
}

.card .view-event{
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 14px;
	text-align: right;
	background-color: rgba(0,0,0,0.3);
}
.card .view-event h4{
	padding-right: 20px;
}

.card .description{
	position:absolute; 
    bottom:0;
    width:100%;
    height:100%;
	margin: 0;
	padding: 0;
	background-color:rgba(24,135,119,0.97);
	z-index: 1;
	
}
.card .description p{
	padding: 10px;
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

.card img{
	height: 100%;
	width: 100%;
}


.card .more-arrow{
	/*display: block;
	text-align: right;
	margin: auto;*/

	position: absolute;
	right: 10px;
	top: 0;
	font-size: 46px;
	color: #fff;
	padding-right: 4%;
	
}


.event{
	padding: 10px;
	background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, rgba(24,135,119,0.2) 100%);
	transition: 0.2s;
}


/* ======================= SLANT */
.slant-top {
  background: #685172;
  position: absolute;
  left:0;
  bottom:0px;
  width: 100%;
  height: 120px;
}
.slant-top:before {
  content: '';
  position: absolute;
  left: 0;
  top: -36px;
  width: 100%;
  height: 100%;
  background: #685172;
  -webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
  -webkit-backface-visibility: hidden;
}
.slant-top-content {
  text-align: center;
  margin: 10px auto;
  padding: 0 0 0 20px;
  padding-bottom: 10px;
  position: relative;
  max-width: 800px;
  height: 2vh;
}


/* SLANT BOTTOM ----------- */
.slant-bottom {
  background: #685172;
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 120px;
}
.slant-bottom:before {
  content: '';
  position: absolute;
  left: 0;
  top: 36px;
  width: 100%;
  height: 100%;
  background: #685172;
  -webkit-transform: skewY(-2.5deg);
  -moz-transform: skewY(-2.5deg);
  -ms-transform: skewY(-2.5deg);
  -o-transform: skewY(-2.5deg);
  transform: skewY(-2.5deg);
  -webkit-backface-visibility: hidden;
}
.slant-bottom-content {
  text-align: center;
  margin: 10px auto;
  padding: 0 0 0 20px;
  padding-bottom: 10px;
  position: relative;
  /*max-width: 800px;*/
  height: 2vh;
}









/* ------------------------------------------------ */
/*		HERO IMAGES									*/
/* ------------------------------------------------ */
.hero-image,.full-image{
	position: relative;
	top:-20px;
	left:0;
	margin: 0;
	padding:0;
	height: 100vh;
	overflow: hidden;
}
.full-image{
	top:0;
	left:0;
}
.hero-image img{
	width: 100%;
	min-height: 100%;
	height: 100vh;
}

.hero-image .call-to-action{
	position: absolute;
	left: 20%;
	top: 35%;
	width: 30%;
	min-height: 20%;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
.hero-image .call-to-action .header{
		max-height: 50px;
		margin: 0;
		padding: 3px;
}
.hero-image h4{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 3em;
	padding: 5px 5px 5px 10px;
}
.hero-image p{
		margin: 14px;
		color: #fff;
		font-size: 16px;
}
.hero-image .more-arrow{

	position: absolute;
	right: 10px;
	top: 0;
	font-size: 46px;
	color: #fff;
	padding-right: 4%;
	
}





/* ------------------------------------------------ */
/*		EFFECTS										*/
/* ------------------------------------------------ */
.slide-effect:hover{
	/* Must have:
		background-size: 200% 100%;
    	background-image: linear-gradient(to right, transparent 50%, #761f8e 0%);
    	in order for the element to slide
    */

	background-position: -100% 0;
}


.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } 
}







/* ============================================================
  SECTION PARALLAX
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 100vh;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}





/* ------------------------------------------------ */
/*		Media Queries								*/
/* ------------------------------------------------ */

@media screen and (min-width:600px) {
 /* section {
    margin-left: 25%;
  }*/
}




@media screen and (max-width:1000px) {
	nav .nav-links {
		display: none;
		width:0;
		height:0;
	}
	nav .nav-title {
		width: 100%;
	}
	#drawer .drawer-side{
		width: 100%;
		padding-top: 60px;
	}
	#drawer .screen-side{
		width: 0;
	}
	.hero-image .call-to-action{
		position: absolute;
		left: 20%;
		top: 30%;
		min-width: 50%;
		max-width: 70%;
		max-height: 35%;
		border-radius: 1%;
	}
	.hero-image h4{
		font-size: 1em;
	}
}









